.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem;
}
.form{
    display: flex;
    flex-direction: column;
}
.button{
    margin-top: 1rem;
    border-radius: 5px;
    border: 1px solid rgb(4, 4, 4);
}
.link{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}