.page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: calc((100vw - 800px) / 2);
    max-width: 1000px;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.container__img{
    display: flex;
    justify-content: center;
}
.container__button{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.container__button button{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 8px;
    text-align: center;
    background-color: #f3ae0c;
    cursor: pointer;
}.container__button button:hover{
    box-shadow: 5px 5px 10px rgb(55, 55, 58) ;
}